<!DOCTYPE html>
<html>


	<style type="text/css">

		head{
			display: inline-block;
			position: absolute;
			text-align: center;
		}

		body{background-color: lightblue;}

		.tabs{
			overflow: hidden;
			border-radius: 10;
			background-color: 
		}

		.tab button{
			background-color: inherit;
			float: left;
			border: none;
			outline: none;
			cursor: pointer;
			padding: 14px 16px;
			transition: 0.3s;
		}

		.tab button: hover{
			background-color: #ddd;
		}

		.tab button.active{
			background-color: #ccc;
		}

		.tabcontent{
			display: none;
			padding: 6px 12px;
			border: 1px solid #ccc;
			border-top: none;
		}
</style>
	
<!-- Tab Links-->
<div class="tab">
		<button class="tablinks" onclick="openTab(event, 'Home')">Home</button> 
		<button class="tablinks" onclick="openTab(event, 'Resume')">Resume</button> 
		<button class="tablinks" onclick="openTab(event, 'External css')">External CSS</button> 
</div>

<!--Tab Content-->
<div id="Home" class="tabcontent">
	<h3>Home</h3>
	<p>lalalalala</p>
</div>

<div id="Resume" class="tabcontent">
	<h3>Resume</h3>
	<p>rararara</p>
</div>

<div id="Home" class="tabcontent">
	<h3>External CSS</h3>
	<p>cacacacaca</p>
</div>


</html>